Exercise
 Plot a Scatter Plot Chart to see if linear agression Model can be applied and if yes then build a model that can answer this Questions
1) Predict Price of a Mercedez benz that is 4 Year old With Miles 45000
2) Predict price of BMX X5 7 year old with Miles 86000
3) Tell Me the Score(accureacy) of your Model.|

In [7]:
import pandas as pd

In [8]:
carprice = pd.read_csv("carprice.csv")
carprice

                Car Model  Miles  Sell Price($)  Age(yrs)
0                  BMW X5  69000          18000         6
1                  BMW X5  35000          34000         3
2                  BMW X5  57000          26100         5
3                  BMW X5  22500          40000         2
4                  BMW X5  46000          31500         4
5                 Audi A5  59000          29400         5
6                 Audi A5  52000          32000         5
7                 Audi A5  72000          19300         6
8                 Audi A5  91000          12000         8
9   Mercedez Benz C class  67000          22000         6
10  Mercedez Benz C class  83000          20000         7
11  Mercedez Benz C class  79000          21000         7
12  Mercedez Benz C class  59000          33000         5

In [12]:
#Now making Dummy Columns with Pandas
dummies = pd.get_dummies(carprice["Car Model"])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

1) False = 0
2) True = 1

In [17]:
#Now Concatinating the New Dataframe of dummies with Old Dataframe
merged= pd.concat([carprice,dummies],axis='columns')
merged

,Car Model,Miles,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,False,True,False
1,BMW X5,35000,34000,3,False,True,False
2,BMW X5,57000,26100,5,False,True,False
3,BMW X5,22500,40000,2,False,True,False
4,BMW X5,46000,31500,4,False,True,False
5,Audi A5,59000,29400,5,True,False,False
6,Audi A5,52000,32000,5,True,False,False
7,Audi A5,72000,19300,6,True,False,False
8,Audi A5,91000,12000,8,True,False,False
9,Mercedez Benz C class,67000,22000,6,False,False,True
10,Mercedez Benz C class,83000,20000,7,False,False,True
11,Mercedez Benz C class,79000,21000,7,False,False,True
12,Mercedez Benz C class,59000,33000,5,False,False,True

In [26]:
#Droping Two Columns
finale = merged.drop(['Car Model',"Mercedez Benz C class"],axis = 'columns')
finale

    Miles  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0   69000          18000         6    False    True
1   35000          34000         3    False    True
2   57000          26100         5    False    True
3   22500          40000         2    False    True
4   46000          31500         4    False    True
5   59000          29400         5     True   False
6   52000          32000         5     True   False
7   72000          19300         6     True   False
8   91000          12000         8     True   False
9   67000          22000         6    False   False
10  83000          20000         7    False   False
11  79000          21000         7    False   False
12  59000          33000         5    False   False

Going to define car models in numerical to get easy
1) Mercedes Benz C class = 0,0
2) Audi A5 = 1,0
3) BMW X5 = 0,1

In [28]:
#Now Storing this values in x and y
X = finale.drop('Sell Price($)',axis = "columns") #Droped Price Column Because we are going to predict price which is dependable column
X

    Miles  Age(yrs)  Audi A5  BMW X5
0   69000         6    False    True
1   35000         3    False    True
2   57000         5    False    True
3   22500         2    False    True
4   46000         4    False    True
5   59000         5     True   False
6   52000         5     True   False
7   72000         6     True   False
8   91000         8     True   False
9   67000         6    False   False
10  83000         7    False   False
11  79000         7    False   False
12  59000         5    False   False

In [29]:
y = finale['Sell Price($)'] #Storing Prices in y axis

In [32]:
#Now Creating Model with Linear Regression
from sklearn.linear_model import LinearRegression

In [35]:
model = LinearRegression()
model

LinearRegression()

In [36]:
model.fit(X,y)

LinearRegression()

In [37]:
model.score(X,y)

0.9417050937281082

In [43]:
model.predict([[45000,4,0,0]])

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36991.31721061])

1) Predict Price of a Mercedez benz that is 4 Year old With Miles 45000

In [44]:
model.predict([[ 86000,7,0,1]])#2) Predict price of BMX X5 7 year old with Miles 86000

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11080.74313219])